/* 
  Author's note: The styles for this gradient grid background is heavily inspired by
  Paco & Rauno's amazing CMDK site (https://cmdk.paco.me) – all credits go to them! 
*/

.main {
  --background: rgb(15, 17, 21);
  height: 100vh;
  width: 100vw;
  background-color: var(--background, #0f1115);
  position: fixed;
  z-index: -999;
  /* Add the repeating background image */
}

.content {
  height: 100%;
  width: 100%;
  background-image: url("/background/noise.png");
  background-repeat: repeat; /* Ensures the image repeats */
  background-size: 400px 400px; /* Matches the size of the original image */
  opacity: 0.4; /* Adjust transparency */
  filter: brightness(0.2); /* Adjust brightness */
}

/* .main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
  top: 0;
  left: 0;
}

.main:before {
  background: radial-gradient(circle, var(--muted) 0, var(--background) 100%);

  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background: var(--background-url);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.content {
  height: 500px;
  height: 100%;
  width: 100%;

  background-image: radial-gradient(
      ellipse at 90% 80%,
      #ffff00 0%,
      rgba(255, 255, 0, 0) 40%
    ),
    radial-gradient(ellipse at 40% 60%, #85d8a3 0%, rgb(190, 217, 200, 0) 50%),
    radial-gradient(
      ellipse at 50% 100%,
      rgb(247, 185, 86) 0%,
      rgb(252, 207, 136, 0) 80%
    ),
    radial-gradient(ellipse at 10% 80%, #cb84f7 0%, rgb(243, 224, 255, 0) 100%);
  position: absolute;
  overflow: hidden;
  content: "";
  filter: saturate(150%) blur(100px);
  -webkit-filter: saturate(150%) blur(100px);
  bottom: 0px;
  opacity: 0.2;
}

@keyframes moveGradients {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
