.codex-editor__loader {
  height: 38px !important;
}
.codex-editor__redactor {
  height: 38px !important;
  padding: 0 !important;
}

#notes-view {
  @apply text-primary;
}

#notes-view h1 {
  @apply text-4xl;
}
#notes-view h2 {
  @apply text-3xl;
}
#notes-view h3 {
  @apply text-2xl;
}
#notes-view h4 {
  @apply text-xl;
}
#notes-view h5 {
  @apply text-lg;
}
#notes-view h6 {
  @apply text-base;
}
#notes-view ul {
  margin-left: 1.5em;
}
#notes-view li {
  padding: 5.5px 0 5.5px 3px;
  margin-left: 1.5em;
  line-height: 1.6em;
  list-style-type: circle;
}

#notes-view a {
  @apply text-blue-500;
  @apply underline;
}

#notes-view a:hover {
  @apply text-blue-400;
}

.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-toolbar__plus:hover {
  background: theme("colors.popover.DEFAULT");
  color: inherit;
  border-color: theme("colors.border");
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: inherit;
}

.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  background-color: theme("colors.muted.DEFAULT");
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: theme("colors.border");
  background: theme("colors.input");
  color: inherit;
}

.dark ::selection {
  background: theme("colors.accent.DEFAULT");
}

.dark .ce-popover-item:hover {
  background-color: theme("colors.accent.DEFAULT") !important;
}

.dark .ce-popover-item__title {
  color: theme("colors.accent.foreground") !important;
}

.dark .ce-popover-item__icon {
  background-color: theme("colors.secondary.DEFAULT") !important;
  color: theme("colors.accent.foreground") !important;
}

.bg-theme {
  background-color: theme("colors.primary.DEFAULT");
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: theme("colors.accent.DEFAULT");
  color: theme("colors.accent.foreground");
}

.dark .cdx-notify--error {
  background: theme("colors.destructive.DEFAULT") !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}
