@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@config "../../tailwind.marketing.config.ts";

#blog {
  @apply text-primary;
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
}

@media (min-width: 768px) {
  #blog h1 {
    @apply text-5xl;
    font-weight: 800;
    color: #34f4af;
  }
  #blog h2 {
    @apply text-4xl;
    font-weight: 800;
    color: #34f4af;

    /* color: #1963f0; */
  }
  #blog h3 {
    @apply text-2xl;
    font-weight: 800;
    /* color: #f51085; */
  }
  #blog h4 {
    @apply text-xl;
  }
  #blog h5 {
    @apply text-xl;
  }
  #blog h6 {
    @apply text-xl;
  }
  #blog p {
    @apply text-xl;
  }
  #blog ul {
    margin-left: 1.5em;
  }
  #blog li {
    padding: 5.5px 0 5.5px 3px;
    @apply text-xl;

    /* margin-left: 1.5em; */
    /* line-height: 1.6em; */
    list-style-type: circle;
  }
}

#blog h1 {
  @apply text-3xl;
  font-weight: 800;
  color: #34f4af;
}
#blog h2 {
  @apply text-2xl;
  font-weight: 800;
  /* color: #1963f0; */
}
#blog h3 {
  @apply text-xl;
  font-weight: 800;
  /* color: #f51085; */
}
#blog h4 {
  @apply text-lg;
}
#blog h5 {
  @apply text-base;
}
#blog h6 {
  @apply text-base;
}
#blog p {
  @apply text-base;
}
#blog ul {
  margin-left: 1.5em;
}
#blog li {
  padding: 5.5px 0 5.5px 3px;
  @apply text-base;

  /* margin-left: 1.5em; */
  /* line-height: 1.6em; */
  list-style-type: circle;
}

#blog a {
  @apply text-blue-500;
  @apply underline;
}

#blog a:hover {
  @apply text-blue-400;
}
